.top{
    background-color: white;
    border-bottom-color: black 1px;
}

body {

    max-width: 960px;
    margin: auto;
    background-image: url(uci/week1assignment/assets/images/so-white.png);
}

.logo{

    float: left;
    padding: 20px;
    background-color: #4aaaa5;
    margin-top: auto;
    
}
h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    padding: 20px;
    background-color: #4aaaa5;
    margin-top: auto;
    
}
h2{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar1{

    float: right;
    padding: 20px;
    margin: auto;
    border-right-style: solid 1px grey;
}
.navbar2{

    float: right;
    padding: 20px;
    margin: auto;
    border-right-style: solid 1px grey;
}.navbar3{

    float: right;
    padding: 20px;
    margin: auto;
    border-right-style: solid 1px grey;
}
.container {
    background-color: white;
}

article {
    float: left;
    padding: 20px;
    width: 100%;
    background-color: white;
    border-color: black;

}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color:#4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color:#4aaaa5;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }